
<div class="restockContainer">
 
    <mat-card>

        <mat-card-content>
            <mat-card-title>Stocks Demand</mat-card-title>
            
            <table mat-table [dataSource]="demandProdList" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="productPrice">
                  <th mat-header-cell *matHeaderCellDef> Actual Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.productPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="productCustomerPrice">
                  <th mat-header-cell *matHeaderCellDef> Customer Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.productCustomerPrice}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="productType">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="productQuantity">
                  <th mat-header-cell *matHeaderCellDef> Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.productQuantity}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

        </mat-card-content>
    </mat-card>

</div>