.restockContainer {
    position: absolute;
    top: 10%;
    width: 50%; /* adjust as needed */
    max-width: 600px; /* adjust as needed */
  }

  .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

  mat-card {
    width: 100%;
  }

  table {
    width: 100%;
  }

  mat-list {
    display: flex;
    flex-direction: row; /* Ensure items are aligned vertically */
    padding: 0;
    justify-content: space-evenly;
  }
  
  mat-list-item{
    margin-right: 10px;
  }

  .orderReqContainer{
    margin-top: 5px;
  }

