.mat-form-field{
 padding: 15px;
}

.add_button{
    margin-left: 30px;
}

.viewProductContainer{
    margin-top: 20px;
}

.addContainer{
   margin-top: 10px;
}

table {
    width: 100%;
  }

  mat-list {
    display: flex;
    flex-direction: row; /* Ensure items are aligned vertically */
    padding: 0;
    justify-content: space-evenly;
  }
  
  mat-list-item{
    margin-right: 10px;
  }
 