<div class="container">
     
    
    <div class="addContainer">
      <mat-card>
        <mat-card-title>Add Product</mat-card-title>
             <mat-card-content>
              <form [formGroup]="addForm" >
        
                <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Name" formControlName="productName">
                <mat-error *ngIf="productName.touched && productName.hasError('required')">Product Name Required</mat-error>
                </mat-form-field>  
                <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Type" formControlName="productType">
                <mat-error *ngIf="productType.touched && productType.hasError('required')">Product Type Required</mat-error>
              </mat-form-field>
               <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Price" formControlName="productPrice">
                <mat-error *ngIf="productPrice.touched && productPrice.hasError('required')">Product Price is required</mat-error>

              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Customer Price" formControlName="productCustomerPrice">
                <mat-error *ngIf="productCustomerPrice.touched && productCustomerPrice.hasError('required')">Product Customer Price is required</mat-error>

              </mat-form-field>
                <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Quantity" formControlName="productQuantity">
                <mat-error *ngIf="productQuantity.touched && productQuantity.hasError('required')">Product Quantity is required</mat-error>

                </mat-form-field>

                <button mat-button (click)="addProductList()" class="add_button">Add</button>
              <div class="buttons">
                <mat-card-title>Product List</mat-card-title>
                <mat-hint *ngIf="!checkList">No Products Added</mat-hint>
                <mat-list>
                 <mat-list-item *ngFor="let prodList of productList">
                   {{prodList.productName}}
                 </mat-list-item>
                </mat-list>
                
                <div class="save-button">
                 <button mat-button type="submit" [disabled]="!checkList" (click)="merchantAddPRoduct()">Submit</button>
                </div>
              </div>                
            </form>

             </mat-card-content>
      </mat-card>
      
      

    </div>

    <div class="UpdateContainer">
      <mat-card>
        <mat-card-title>Update Product</mat-card-title>
             <mat-card-content>
              <form [formGroup]="updateForm" >
        
                <mat-form-field>
                  <mat-select formControlName="updateProductName"  class="form-control" (selectionChange)="onchangeOfProductName(updateProductName.value)">
                    <input matInput formControlName="updateSearchProd"  placeholder="Type to search" />
                    <mat-option *ngFor="let product of filteredAndSortedProducts" [value]="product.productName">
                      {{ product.productName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>  
                <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Type" formControlName="updateProductType">
                <mat-error *ngIf="updateProductType.touched && updateProductType.hasError('required')">Product Type Required</mat-error>
              </mat-form-field>
               <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Price" formControlName="updateProductPrice">
                <mat-error *ngIf="updateProductPrice.touched && updateProductPrice.hasError('required')">Product Price is required</mat-error>

              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Customer Price" formControlName="updateProductCustomerPrice">
                <mat-error *ngIf="updateProductCustomerPrice.touched && updateProductCustomerPrice.hasError('required')">Product Customer Price is required</mat-error>

              </mat-form-field>
                <mat-form-field>
                <input matInput type="text" placeholder="Enter Product Quantity" formControlName="updateProductQuantity">
                <mat-error *ngIf="updateProductQuantity.touched && updateProductQuantity.hasError('required')">Product Quantity is required</mat-error>

                </mat-form-field>
              <div class="buttons">
                <div class="save-button">
                 <button mat-button type="Update" [disabled]="!checkListUpdate" (click)="merchantUpdateProduct()">Submit</button>
                </div>
              </div>                
            </form>

             </mat-card-content>
      </mat-card>
      
      

    </div>

    <div class="viewProductContainer">
      <mat-card>
        <mat-card-title>My Product</mat-card-title>
             <mat-card-content>
              <table mat-table [dataSource]="productList1" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="productPrice">
                  <th mat-header-cell *matHeaderCellDef> Actual Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.productPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="productCustomerPrice">
                  <th mat-header-cell *matHeaderCellDef> Customer Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.productCustomerPrice}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="productType">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="productQuantity">
                  <th mat-header-cell *matHeaderCellDef> Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.productQuantity}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
                            
            

             </mat-card-content>
      </mat-card>
      
      

    </div>
    
</div>
