.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
}

.card-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 0 10px;
  flex-grow: 1;
  margin: 10px;
}

/* Hide scrollbar for Webkit, Firefox, Edge */
.card-container::-webkit-scrollbar {
  display: none;
}
.card-container {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none; 
    /* Firefox */
}

.customer-card {
  min-width: 250px;
  flex-shrink: 0;
  cursor: pointer;
}

.pending {
  color: red;
  font-weight: bold;
}

.paid {
  color: green;
  font-weight: bold;
}

/* Badge style for I/S display */
.type-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #3f51b5;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.75rem;
}

/* Ensure mat-card is positioned relative for absolute children */
.customer-card {
  position: relative;
  width: 250px;
  margin: 8px;
}