.selected-image{
    width: 150px;
    height:150px;
}

.profile-image{
    position: relative;
}
.user{
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
    img{
      width: 150px;  /* Set a width for the image */
    height: 150px; /* Set a height for the image */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; 
    }
   }


   .mat-info-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.mat-info-item {
  flex: 1 1 30%;
  min-width: 200px;
}

.cust-info-buttons,
.upi-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Space above the button group */
}

.cust-info-buttons button,
.upi-buttons button {
  width: 100%; /* Optional: Make buttons full width */
}
