.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.user{
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
    img{
      width: 150px;  /* Set a width for the image */
    height: 150px; /* Set a height for the image */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; 
    }
   }


mat-card{
    mat-card-title{
        text-align: center;
    }
    mat-card-content{
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width:900px;
        }
       
    }
}


.selected-image{
    width: 150px;
    height:150px;
}

.profile-image{
    position: relative;
}

.green-button {
    background-color: #673ab7;
    color: white; 
    margin-left: 10px; /* Ensures text is white on the green background */
  }