/* Center the form container */
.formContainer {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

.register-bg {
  min-height: 100vh;
  background-image: url('/assets/crates_web_view.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px; /* important for scroll spacing */
  box-sizing: border-box;
}

/* Dark overlay */
.register-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.35);
  pointer-events: none;
  z-index: 0;
}

.register-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  
}


/* Card styling */


.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* GRID layout */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  justify-content: center;
  align-items: center;
}

/* Ensure full width inside grid cell */
mat-form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .register-bg {
    background-image: url('src/assets/crate_mobile_view2.png');
  }
}

/* Tablet (2 columns) */
@media (max-width: 1024px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (1 column) */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

/* BUTTON CONTAINER */
.buttons {
  display: flex;
  justify-content: center;     /* center buttons horizontally */
  align-items: center;
  gap: 32px;                   /* even space between buttons */
  margin-top: 32px;
  width: 100%;
}

/* Keep button wrappers clean */
.back-button,
.save-button {
  display: flex;
}

/* Mobile view */
@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    gap: 16px;
  }

  .back-button,
  .save-button {
    width: 100%;
    justify-content: center;
  }

  .buttons button {
    width: 100%;
  }
}