mat-input{
    padding: 3px;
}

.mat-form-field{
    padding: 15px;
   }

   table {
    width: 100%;
  }

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.validate-customer-phno{
    text-align: center;
}
mat-hint{
    text-align: center;
}

tfoot td {
    font-weight: bold;
    font-size: 1.1em;
  }

.input-amt-paid{
    width: 150px;
    height: 40px;
    font-size: 20px;
}

.input-amt-txt{
    font-size: 20px; /* Set the same font size for both */
  line-height: 1.5;
  margin-top: 5px;
  margin-right: 5px;
}


.final-amt-paid {
    display: flex;
    justify-content: flex-end; /* Aligns the input to the right */
  }