mat-input{
    padding: 3px;
}

.mat-form-field{
    padding: 15px;
   }

   table {
    width: 100%;
  }

.validate-customer-phno{
    text-align: center;
}
mat-hint{
    text-align: center;
}

tfoot td {
    font-weight: bold;
    font-size: 1.1em;
  }

.input-amt-paid{
    width: 150px;
    height: 40px;
    font-size: 20px;
}

.input-amt-txt{
    font-size: 20px; /* Set the same font size for both */
  line-height: 1.5;
  margin-top: 5px;
  margin-right: 5px;
}


.final-amt-paid {
    display: flex;
    justify-content: flex-end; /* Aligns the input to the right */
  }