.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


mat-card{
    mat-card-content{
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width:500px;
        }
       
    }
}


.buttons{
    display: flex;
    flex-direction: row;
    
}
.login-button{
    display: flex;
    justify-content: flex-end;
    margin-left: 350px;
}