.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px; /* Added padding for mobile view */
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

mat-card {
    width: 100%; /* Full width for mobile */
    max-width: 600px; /* Increased max width for larger screens */
    padding: 20px; /* Added padding for better spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
    border-radius: 8px; /* Optional: rounded corners */
}

mat-card-content {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%; /* Full width for mobile */
    }
}

.buttons {
    display: flex;
    flex-direction: row; /* Change to row layout for both mobile and desktop */
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px; /* Added margin for spacing */
}

.signup-button,
.login-button {
    flex: 1; /* Allow buttons to take equal space */
    margin: 0 5px; /* Added margin for spacing between buttons */
}

@media (min-width: 768px) {
    .buttons {
        flex-direction: row; /* Row layout for larger screens */
    }

    .login-button {
        justify-content: flex-end;
        margin-left: 20px; /* Adjust margin for larger screens */
    }
}