<mat-card *ngFor="let customer of procOrderList" class="customer-card">

    <mat-card-content class="customer-summary">
    
    <span class="customer-name">{{ customer.orderCustName }}</span>
    
    <span class="customer-email">{{ customer.orderCustEmailId}}</span>
    
    <span class="customer-total">Total Amount: {{ customer.orderCustTotalPrice }}</span>
    
    <div class="actions">
    <form [formGroup]="addForm" >

        <mat-form-field>
                <input matInput type="text" placeholder="Enter Amount" formControlName="finalAmtPaid">
                <mat-error *ngIf="updateFinalAmtPaid.touched && updateFinalAmtPaid.hasError('required')">Final Amount Required</mat-error>
              </mat-form-field>
    </form>

    <div *ngIf="!customer.orderFlag; else paidButtons">
  <button mat-button color="warn">DELETE</button>
  <button mat-button color="primary" (click)="paidCustomer(customer)">PAY</button>
</div>

<!-- Alternative buttons when flag is true -->
<ng-template #paidButtons>
  <button mat-button color="accent" (click)="paymentBackToNormal(customer)">CANCEL</button>
  <button mat-button color="primary" (click)="confirmPaymentToDealer(customer)">CONFIRM</button>
</ng-template>

    </div>
    
    </mat-card-content>
    
    <mat-expansion-panel class="expansion-panel" hideToggle>
    
    <mat-expansion-panel-header>
    
    <mat-panel-title>
    
    <mat-icon>arrow_drop_down</mat-icon>
    
    <mat-card-subtitle>Expand for Full Details</mat-card-subtitle>
    
    </mat-panel-title>
    
    </mat-expansion-panel-header>
    
    <div class="customer-details">
    
    <p>Phone: {{ customer.orderCustPhoneNo }}</p>
    
    <p>Customer Type: {{ customer.orderCustType }}</p>

    <p>Requested Date: {{customer.orderCustCrtdDate}}</p>
    
    <mat-list>
    
    <mat-list-item *ngFor="let order of customer.orderList">
    
    {{order.orderCustProdCmp}} - {{order.orderCustProdType}} - {{order.orderCustProdName}} - {{ order.orderCustProdQty }} - {{ order.orderCustProdName }} - *{{ order.orderCustProdPrice}}
    
    </mat-list-item>
    
    </mat-list>
    </div>
    </mat-expansion-panel>
</mat-card>
<div *ngIf="isLoading" class="loader-overlay">
  <mat-progress-spinner mode="indeterminate" color="primary" diameter="60"></mat-progress-spinner>
</div>