<div class="orderReqContainer">
  <mat-card>
      <mat-card-title>Recent Requests</mat-card-title>
    <app-req-orders></app-req-orders>
  </mat-card> 
  </div>

  <div class="procOrderContainer">
  <mat-card>
      <mat-card-title>Processed Orders</mat-card-title>
    <app-proc-orders></app-proc-orders>
  </mat-card> 
  </div>

  <div class="custOrdPlacedCont">
  <mat-card>
      <mat-card-title>Customer Requests</mat-card-title>
    <app-cust-order-req></app-cust-order-req>
  </mat-card> 
  </div>

    <div class="custVerifyPymtCont">
  <mat-card>
      <mat-card-title>Customer Verify Payment</mat-card-title>
    <app-cust-verify-pymnt-list></app-cust-verify-pymnt-list>
  </mat-card> 
  </div>